<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/profile.css">
    <link rel="stylesheet" href="resources/css/profile-emp.css">
    <!-- <link rel="stylesheet" href="resources/css/vagas.css"> -->
    <title>Document</title>
</head>
<body class="profile">
    <nav class="all">
        <!-- <div class="top">
            <div class="logo"><a href="#"><img src="resources/img/logo-mig.png" alt="" class="logo-top"></a></div>
            <div class="login">
                <a href="/login" class="btn btn-primary">login</a >
            </div>
        </div> -->
        <div class="menu-top">
            <div class="pages">
                <div class="logo"><a href="#"><img src="resources/img/logo-mig.png" alt="" class="logo-top"></a></div>
                <ul>
                    <li><a href="/"><button class="btn"><img src="resources/img/home.png"></button></a></li>
                    <!-- <li><a href="info"><button class="btn">General Information</button></a></li> -->
                    <li><a href="mr"><button class="btn">Migratory Regularization</button></a></li>
                    <li><a href="education"><button class="btn">Education</button></a></li>
                    <li><a href="job"><button class="btn">Job</button></a></li>
                </ul>
            </div>
            <div class="srch-btn">
                <!-- <div class="search">Buscar</div> -->
                <% if (login){ %>
                    <div class="loged">
                        <img src="resources/img/assets/icon-avatar.svg" alt="">
                        <a href="/profile"><p><%= user %></p></a>
                        <a href="logout" title="Logout"><img src="resources/img/assets/turn-off.svg" alt=""></a>
                    </div>
                <% } else { %>
                    <a href="/login" class="btn btn-primary">login</a >                
                <% } %>
                <div class="gtranslate_wrapper lng-google"></div>
            </div>
            
        </div>
    </nav>
    <header>
        <div class="portada">
            <img src="resources/img//assets/icon-build.svg" alt="" >
            <h1><%= nombre %></h1>
            <% if (empresa) { %>
                <button class="btn btn-primary">Edit Profile</button>
                <a href="/python" class="btn btn-primary">Summary</a>
            <% }else{ %>
                <button class="btn btn-primary">Seguir</button>
                <button class="btn btn-primary">Escriba una reseña</button>
            <% } %>

        </div>
        <div class="sections">
            <button class="btn btn-sect" id="sobre">About</button>
            <!-- <button class="btn btn-sect" id="">Junte-se a nós</button> -->
            <button class="btn btn-sect" id="vacant">Vacancies</button>
            <button class="btn btn-sect" id="eval">Assessments</button>
            <button class="btn btn-sect" id="salarios">Salaries</button>
        </div>
    </header>


    <div class="inf-emp" id="about">
        <h2> <%= descrip %> </h2>

    </div>

    <!-- Vacantes -->
    <div class="inf-emp container-vagas" id="vacancies">
        <div class="lista-vagas">
            <% resuluts.forEach((vagas)=> { %> 
                <div class="card-vaga" id='card<%= vagas.id %>' ><a  onclick="event.preventDefault()" data-bs-toggle="modal" data-bs-target="#vag<%= vagas.id %>">
                    <h3><%= vagas.titulo %></h3>
                    <p class="nombre-emp"><%= vagas.nombre %></p>
                    <p class="localidad"><%= vagas.local %></p>
                    <p class="descript"><%= vagas.responsabilidades %></p>
                    <p class="data-post"><%= vagas.fecha_publicacion %></p></a>                
                </div>
            <% }) %>
        </div>
        <% resuluts.forEach((vagas)=> { %>
        <div class="modal fade" id="vag<%= vagas.id %>">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exModalLabel"> <%= vagas.titulo %> </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p><a href="/profile/<%= vagas.id_empresa %>"><%= vagas.nombre %></a></p>
                        <p><%= vagas.local %> </p>
                        <p><%= vagas.responsabilidades %> </p>
                        <p><%= vagas.salario %> </p>
                        <p><%= vagas.tipo_contrato %> </p>
                        <p><%= vagas.horario %> </p>
                        <p><%= vagas.fecha_publicacion %> </p>
                    </div>
                    <div class="modal-footer">
                        <% if(empresa){ %>
                            <button class="btn btn-primary">Edit</button>
                        <% }else{ %>
                            <button class="btn btn-primary">Apply</button>
                        <% } %>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <div class="inf-emp" id="aval">
        <h3>Coments </h3>
    </div>
    <div class="inf-emp" id="salary">
        <h4>Salaries</h4>        
    </div>




    <script>window.gtranslateSettings = {"default_language":"en","native_language_names":true,"detect_browser_language":true,"languages":["en","fr","pt","ja","es","ht"],"wrapper_selector":".gtranslate_wrapper","switcher_horizontal_position":"inline","float_switcher_open_direction":"bottom","flag_style":"3d","alt_flags":{"pt":"brazil"}}</script>
    <script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>  
    <script src="resources/js/bootstrap.bundle.min.js"></script>
    <script src="resources/js/profile-emp.js"></script>
    <script src="resources/js/js.js"></script>
    <!-- <script src="../profile.js"></script> -->
    <!-- <script src="" type="module" ></script> -->
</body>
</html>